@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Flip Side</h1>
    <p class="lead">This is where our daily list of stories will appear.<p><a href="../home/About" class="btn btn-primary btn-lg">Learn more
    </a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The password-protected <a href="~/stories/index">Stories</a> area is where administrators go to enter stories and manage what's already there. 
        </p>
        <p><a class="btn btn-default" href="http://theflipside.news/stories/index">Learn more &raquo;</a></p>
    </div>
</div>